.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #000000;
}

.kanban-columns {
  display: flex;
}

.kanban-column {
  max-width: 300px;
  min-width: 300px;
  padding: 8px;
  background-color: #afafaf;
  border-radius: 4px;
}

.card-list {
  min-height: 100px;
  margin-top: 8px;
  background-color: #afafaf;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px;
}
