.kanban-board {
  display: flex;
  flex-direction: column; /* Alterado para coluna em dispositivos móveis */
  align-items: center; /* Centraliza os elementos verticalmente */
  background-color: #000000;
}

.kanban-columns {
  display: flex;
  flex-wrap: wrap; /* Quebra as colunas em várias linhas em telas pequenas */
  justify-content: center; /* Centraliza as colunas horizontalmente */
}

.kanban-column {
  width: 100%; /* Largura de 100% para ocupar a largura total da tela */
  max-width: 300px;
  min-width: 300px;
  padding: 8px;
  background-color: #afafaf;
  border-radius: 4px;
  margin: 8px; /* Espaçamento entre as colunas */
}

.card-list {
  min-height: 100px;
  margin-top: 8px;
  background-color: #afafaf;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px;
}
